{{> _header }}

<header>
    <h1>404 - Not Found</h1>
    <p>Page not found. Either there was nothing here to begin with or the website is currently in maintenance.</p>
</header>
<div style="padding: 2em;">
    
    <div style="text-align: center; margin: 0;"> 
        <img src="img/other403.jpg" style=" border: 2px solid #c0c0c0;" />
    </div>
</div>

{{> _footer }}
