<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{{name}} - {{job}}</title>
        <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900italic,900&subset=latin,latin-ext" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="assets/stylesheet.css" />
	</head>
	<body>
        <div class="page">
            <header>
                <h1 class="name">
                    <span class="first">{{firstName}}</span><span class="last">{{lastName}}</span>
                </h1>
                <h2 class="description">{{job}}</h2>
            </header>
            
            <subheader>
                <a href="mailto:{{{email}}}"><i class="fa fa-envelope-o"></i>{{email}}</a>
                <a href="{{{url}}}" target="_blank"><i class="fa fa-link"></i>{{url}}</a>
                <a href="{{{github}}}" target="_blank" style="width: 280px;"><i class="fa fa-github"></i>{{github}}</a>
            </subheader>
            
            <main>
                <h3><span>exp</span>erience</h3>
                {{#experience}}
                <div class="subheader">
                    <span class="time">{{when}}</span><span class="subject logo {{company}}">{{company}}</span><span class="location">{{location}}</span>
                </div>
                <div class="content">
                    <span class="description">{{job}}</span>
                    {{^description}}<p>{{{description}}}</p>{{/description}}
                    <ul>
                        {{#stuff}}
                        <li>{{{.}}}</li>
                        {{/stuff}}
                    </ul>
                </div>
                {{/experience}}

                <h3><span>edu</span>cation</h3>
                {{#education}}
                <div class="subheader">
                    <span class="time">{{when}}</span><span class="subject">{{description}}</span>&nbsp;&nbsp;<span>({{where}})</span>
                </div>
                <div class="content">
                    {{#stuff}}
                    <p>{{{.}}}</p>
                    {{/stuff}}
                </div>
                {{/education}}
                
                <span class="page-break"></span>

                <h3><span>comp</span>etencies</h3>
                {{#competencies}}
                <h4>{{area}}</h4>
                {{#stuff}}
                <p>{{{.}}}</p>
                {{/stuff}}

                {{/competencies}}
               
                {{!
                <h3 class="print-hide"><span>down</span>load</h3>
                <p class="print-hide">
                    <a href="http://cv.graphnode.com/download/cv-dgomes-2016-03-14.en.pdf" target="_blank">PDF Format</a>
                </p>
                }}
            </main>

            <footer class="print-hide">
                <span>Last Update: {{currentDate}}</span>
            </footer>
        </div>
	
</body></html>