<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <title>{{name}} - {{job}}</title>

        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900italic,900&subset=latin,latin-ext" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

        <link rel="stylesheet" media="screen" href="styles/screen.css" />
        <link rel="stylesheet" media="print" href="styles/print.css" />
	</head>
	<body>
        <header>
            <h1 class="fullName"><span class="firstName">{{firstName}}</span><span class="lastName">{{lastName}}</span></h1>
            <h2 class="jobDescription">{{job}}<h2>

            <aside>
                <h1>External Links</h1>
                <nav class="external-links">
                    <ul>
                        {{#externalLinks}}
                        <li><a href="{{{url}}}" target="_blank"><i class="fa fa-{{icon}}"></i>{{name}}</a></li>
                        {{/externalLinks}}
                    </ul>
                </nav>
            </aside>
        </header>

        <nav class="section-links">
            <h1>Sections</h1>
            <ul>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#education">Education</a></li>
                <li><a href="#competencies">Competencies</a></li>
                <li><a href="#download">Download</a></li>
            </ul>
        </nav>

        <main>
            <section class="experience">
                <h1><a name="experience">Experience</a></h1>

                {{#experience}}
                <div class="entry">
                    <h2 class="time">{{when}}</h2>
                    <h3 class="subject logo {{company}}">{{company}}</h3>
                    <h4 class="location">{{location}}</h4>

                    <div class="content">
                        <span class="description">{{job}}</span>
                        {{^description}}<p>{{{description}}}</p>{{/description}}
                        <ul>
                            {{#stuff}}
                            <li>{{{.}}}</li>
                            {{/stuff}}
                        </ul>
                    </div>
                </div>
                {{/experience}}
            </section>

            <section class="education">
                <h1><a name="education">Education</a></h1>

                {{#education}}
                <div class="entry">
                    <h2 class="time">{{when}}</h2>
                    <h3 class="subject">{{description}}</h3>
                    <h4 class="location">{{where}}</h4>

                    <div class="content">
                        {{#stuff}}
                        <p>{{{.}}}</p>
                        {{/stuff}}
                    </div>
                </div>
                {{/education}}
            </section>

            <section class="competencies">
                <h1><a name="competencies">Competencies</a></h1>
                
                {{#competencies}}
                <div class="entry">
                    <h2>{{area}}</h2>
                    {{#stuff}}
                    <p>{{{.}}}</p>
                    {{/stuff}}
                </div>
                {{/competencies}}
            </section>
            
            <section class="download">
                <h1><a name="download">Downloads</a></h1>
                <p><a href="download/cv-dgomes-2016-03-14.en.pdf" target="_blank">PDF Format</a></p>
            </section>
        </main>

        <footer>
            <span>Last Update: {{currentDate}}</span>
        </footer>
    </body>
</html>